# Dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage
*.lcov

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# Netlify
.netlify

# Turbo
.turbo

# TypeScript
*.tsbuildinfo
next-env.d.ts

# VS Code extension
extension/out/
*.vsix

# IDE
.idea/
.vscode/
